.phone {
  position: relative;
  background-color: white;
  width: 20rem;
  min-width: 20rem;
  height: 40rem;
  margin-right: 10rem;
  margin-left: 5rem;
  border-radius: 30px;
  padding: 0.8rem;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.1);
}

.phone .top-white {
  position: absolute;
  background: white;
  width: 50%;
  height: 1rem;
  margin: 0rem auto;
  left: 50%;
  top: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5%;
  border-radius: 20px;
}

.phone .phone-background {
  background-color: #f5f3f7;
  border-radius: 30px;
  height: 100%;
  overflow: hidden;
}

.phone .phone-background .top-section {
  height: 15%;
  background: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to left, #e942ff, #8838ff);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0rem 1rem;
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone .phone-background .top-section .profile-picture {
  width: 12%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  border: white solid 1.9px;
  margin-left: 0.3rem;
}

.phone .phone-background .top-section .contact-info {
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phone .phone-background .top-section .contact-info .name {
  color: #f5f3f7;
  font-size: 0.9rem;
}

.phone .phone-background .top-section .contact-info .availability {
  padding-top: 0.15rem;
  font-size: 0.7rem;
  color: #d89eff;
}

.phone .phone-background .top-section .more-picture {
  width: 3rem;
  margin-left: 3rem;
}

.phone .phone-background .middle-section {
  height: 75%;
  padding: 0.9rem;
}

.phone .phone-background .middle-section .message-container {
  max-width: 65%;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
}

.phone .phone-background .middle-section .message-container .message {
  font-size: 0.7rem;
  line-height: 140%;
  color: #9241c8;
}

.phone .phone-background .middle-section .pink {
  background: #f1e0fa;
}

.phone .phone-background .middle-section .right-message {
  padding-top: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.phone .phone-background .middle-section .white {
  background: white;
  margin: 0.3rem 0rem;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}

.phone .phone-background .middle-section .white .message {
  color: #6e5d7e;
}

.phone .phone-background .middle-section .pictures-container {
  padding-top: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.phone .phone-background .middle-section .pictures-container img {
  margin: 0rem 0.2rem;
  width: 20%;
  border-radius: 10px;
}

.phone .phone-background .middle-section .price-message {
  background: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to right, #e942ff, #8838ff);
  margin: 0.4rem 0rem;
  width: 80%;
  border-radius: 12px;
  padding: 0.6rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f5f3f7;
}

.phone .phone-background .middle-section .price-message .price-message-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone .phone-background .middle-section .price-message .price-message-left .circle {
  margin-right: 1rem;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border: solid 1px #f5f3f7;
  opacity: 50%;
}

.phone .phone-background .middle-section .price-message .price-message-left p {
  font-size: 0.7rem;
}

.phone .phone-background .middle-section .price-message .price {
  font-weight: 500;
}

.phone .phone-background .bottom-section {
  height: 10%;
  padding: 0.6rem;
}

.phone .phone-background .bottom-section .message-input {
  background-color: white;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.phone .phone-background .bottom-section .message-input .input-text {
  font-size: 0.7rem;
  color: #c6cacd;
  padding-left: 1.3rem;
}

.phone .phone-background .bottom-section .message-input .enter-button {
  background-color: #3e2753;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone .phone-background .bottom-section .message-input .enter-button img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 1100px) {
  .phone {
    width: 18rem;
    min-width: 18rem;
    height: 35rem;
    margin-top: 8rem;
    margin-right: 0rem;
    margin-left: 0rem;
    border-radius: 30px;
  }
  .phone .phone-background .top-section .contact-info .name {
    font-size: 0.6rem;
  }
  .phone .phone-background .top-section .contact-info .availability {
    font-size: 0.5rem;
  }
  .phone .phone-background .middle-section .message-container {
    margin: 0.5rem 0rem;
  }
  .phone .phone-background .middle-section .message-container .message {
    font-size: 0.55rem;
    line-height: 120%;
  }
  .phone .phone-background .middle-section .pictures-container {
    padding-top: 0.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .phone .phone-background .middle-section .pictures-container img {
    width: 18%;
  }
  .phone .phone-background .middle-section .price-message {
    background: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
    background: linear-gradient(to right, #e942ff, #8838ff);
    margin: 0.4rem 0rem;
    width: 80%;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #f5f3f7;
  }
  .phone .phone-background .middle-section .price-message .price-message-left p {
    font-size: 0.55rem;
  }
  .phone .phone-background .middle-section .price-message .price {
    font-size: 0.8rem;
  }
  .phone .phone-background .bottom-section .message-input .input-text {
    font-size: 0.65rem;
  }
  .phone .phone-background .bottom-section .message-input .enter-button {
    width: 1.6rem;
    height: 1.6rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #f5f3f7;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description {
  width: 27rem;
  min-width: 27rem;
}

.description h1 {
  color: #3e2753;
  font-weight: 500;
  font-size: 2.5rem;
  padding-bottom: 3rem;
}

.description h2 {
  color: #a39daa;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 160%;
}

.top-left-bg {
  z-index: -1;
  position: absolute;
  min-height: 90vh;
  min-width: 30vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background: linear-gradient(#e942ff, #8838ff);
  top: 0;
  left: -3%;
  border-bottom-right-radius: 100rem;
  border-bottom-left-radius: 100rem;
}

.bottom-right-bg {
  z-index: -1;
  position: absolute;
  min-height: 85vh;
  min-width: 30vw;
  background: #e942ff;
  opacity: 5%;
  bottom: 0;
  right: -10%;
  border-top-right-radius: 100rem;
  border-top-left-radius: 100rem;
}

@media screen and (max-width: 1100px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: visible;
  }
  .description {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    width: 18rem;
    min-width: 18rem;
  }
  .description h1 {
    color: #3e2753;
    font-weight: 500;
    font-size: 2.2rem;
    padding-bottom: 3rem;
  }
  .description h2 {
    color: #a39daa;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
  }
  .top-left-bg {
    min-height: 70vh;
    min-width: 60vw;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100rem;
    border-bottom-left-radius: 0rem;
  }
  .bottom-right-bg {
    min-height: 65vh;
    min-width: 60vw;
    bottom: 0;
    right: 0;
    border-top-right-radius: 0rem;
    border-top-left-radius: 100rem;
  }
}

@media screen and (min-width: 1600px) {
  .description {
    margin-left: 15rem;
    width: 32rem;
    min-width: 3rem;
  }
  .description h1 {
    font-size: 3rem;
    padding-bottom: 3rem;
  }
  .description h2 {
    color: #a39daa;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 160%;
  }
}
/*# sourceMappingURL=style.css.map */